@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%">
        <col width="12%">
        <col width="80%">
        <col width="10%">
        <tr><td></td>
            <td>
            <table>
                <tr>
                    <td colspan="3"><br><h3>Learn Database Technologies</h2>
                    Educate yourself with our database tutorials which provide a step-by-step walkthrough of the basic and advanced topics surrounding these relational database technologies.
                        <br>
                    </td>
                </tr>
                <tr><td> <br><img src="../Images/Horizontal_Line.jpeg"> </td>
                    <td> <br><img src="../Images/Horizontal_Line.jpeg"> </td>
                    <td> <br><img src="../Images/Horizontal_Line.jpeg"> </td>
                </tr>
                <tr>
                    <td><h3><a href="SQL.html" > SQL Tutorial</a></h3>
                        
                    Learn SQL with our step-by-step tutorial and references. SQL stands for Structured Query Language and is the standard relational language that is supported by just about every database product. All database professionals should know how to write, troubleshoot, and optimize SQL.
                    </td>
                    <td><h3><a href="Oracle.html"> Oracle Tutorial</a></h3>
                    Learn Oracle and PLSQL with our step-by-step tutorial and references. Oracle is a relational database technology developed by Oracle. PLSQL stands for Procedural Language extensions to SQL, and is an extension of SQL that is used in Oracle.</td>
                    <td><h3><a href="SQLServer.html"> SQL Server Tutorial </a></h3>
                    Learn SQL Server and Transact-SQL (T-SQL) with our step-by-step tutorial and references. SQL Server is a relational database technology developed by Microsoft. Transact-SQL is an extension of SQL that is used in SQL Server.</td>
                </tr>
            </table>
                
        </td>
        <td></td>
        </tr> 
    </table>
