@{
    ViewBag.Title = "Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%">
    <col width="12%">
    <col width="80%">
    <col width="10%">
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td colspan="2">
                        <br>
                        <h3>Access Tutorial</h3>
                        <p><strong>Microsoft Access</strong> is a unique tool released by Microsoft that provides both the functionality of a database and the programming capabilities to create end-user screens. Each version of Access can &quot;look and feel&quot; completely different from another.</p>
                        <p>We've divided the Access tutorial into mini-tutorials to cover topics such as Forms, Combo Boxes, Reports, etc. This should make it easier to learn the area of Microsoft Access that you are most interested in.</p>
                    </td>
                </tr>

                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>

            <div class="dialog-box" title="MS Access - Terms & Conditions">
                <div style="margin-left: 23px;">
                    <p>A valid microsoft Access product key is required to work on <b>MS Access</b></p>
                    <p>Please agree to proceed further</p>
                </div>
            </div>
            