@{
    ViewBag.Title = "Clanguage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%">
    <col width="12%">
    <col width="80%">
    <col width="10%">
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td colspan="2">
                        <br>
                        <h3>C Tutorial</h3>
                        <p><strong>C</strong> is a statically typed, structured, general purpose computer programming language which has formed the basis for many other programming languages.</p>
                        <p>This tutorial will start with an introduction to C and will move through the basic components of the C language, such as how to define variables and create programming loops.</p>
                        <p>With this tutorial, you should be on your way to developing your own C applications.</p>
                    </td>
                </tr>

                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            