@{
    ViewBag.Title = "css";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%">
    <col width="12%">
    <col width="80%">
    <col width="10%">
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td colspan="2">
                        <br>
                        <h3>CSS Tutorial</h3>
                        <p><strong>CSS</strong> stands for <em>Cascading Style Sheets</em>. It is the technology used to style web pages that are displayed on web browsers. All web developers should know how to write, structure, and troubleshoot CSS.</p>
                        <p>Our tutorial starts by covering CSS properties to style your HTML document and then moves to the more advanced concepts around CSS selectors. With this tutorial, you should be on your way to understanding and creating your own stylesheets.</p>
                    </td>
                </tr>

                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            