@{
    ViewBag.Title = "Excel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%">
    <col width="12%">
    <col width="80%">
    <col width="10%">
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td colspan="2">
                        <br>
                        <h3>Excel Tutorial</h4>
                            <br>
                        <p><strong>Microsoft Excel</strong> is a spreadsheet and analysis program developed by Microsoft. Excel can be run on both Windows and Mac platforms. Each version of Excel can &quot;look and feel&quot; completely different from another.</p>
                        <p>We've divided the Excel tutorial into mini-tutorials to cover topics such as Basics, Pivot Tables, VBA Environment, etc. This should make it easier to learn the area of Microsoft Excel that you are most interested in.</p>
                    </td>
                </tr>

                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            
<div class="dialog-box" title="MS Excel - Terms & Conditions">
    <div style="margin-left: 23px;">
        <p>A valid microsoft Excel product key is required to work on <b>MS Excel</b></p>
         <p>Please agree to proceed further</p>
    </div>
</div>  