@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%">
    <col width="12%">
    <col width="80%">

    <tr>
        <td></td>
        <td>


            <div>
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="#">Database </a>
                        <ul>
                            <li><a href="Oracle.html">Oracle</a>
                                <ul>
                                    <li><a href="Oracle.html">PL/SQL</a></li>
                                </ul>
                            </li>
                            <li><a href="SQLServer.html">SQL Server </a>
                                <ul>
                                    <li><a href="SQL.html">T-SQL</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">MS Office </a>
                        <ul>
                            <li><a href="Excel.html">Excel</a></li>
                            <li><a href="Access.html">Access</a></li>
                            <li><a href="Word.html">Word</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Web Development </a>
                        <ul>
                            <li><a href="HTML.html">HTML</a></li>
                            <li><a href="css.html">CSS</a></li>

                        </ul>

                    </li>
                    <li><a href="#">Languages </a>
                        <ul>
                            <li><a href="Clanguage.html">C Language</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </td>
    </tr>
</table>
