@{
    ViewBag.Title = "Word";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%">
    <col width="12%">
    <col width="80%">
    <col width="10%">
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td colspan="2">
                        <br>
                        <h3>Word Tutorial</h3>
                        <p><strong>Microsoft Word</strong> is an authoring program that allows you to create professional-looking documents. Word can be run on both Windows and Mac platforms. Each version of Word can &quot;look and feel&quot; completely different from another.</p>
                        <p>We've created different tutorials for each version of Word. This should make it easier to learn the version of Microsoft Word that you are most interested in. Our tutorials cover concepts such as formatting, page numbers, table of contents, headers, footers, and layout.</p>
                    </td>
                </tr>

                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>

            <div class="dialog-box" title="MS Word - Terms & Conditions">
                <div style="margin-left: 23px;">
                    <p>A valid microsoft Access product key is required to work on <b>MS Word</b></p>
                    <p>Please agree to proceed further</p>
                </div>
            </div>
            